* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: Arial, sans-serif;
    color: white;
    background-color: #000;
}

header {
    position: relative;
    height: 100vh;
    background: url('./assets/logo_HLY-removebg-preview.png') no-repeat center center/cover;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.25rem 3.125rem;
}

.logo {
    height: 5rem;
    display: block;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.875rem;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
}
.container {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}

.textos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
   
}

.container h1 {
    font-size: 8.5rem;
    font-weight: bold;
    margin-top: 4.90rem;
    font-family: "Black Han Sans", sans-serif;
}

.h2 {
    margin-top: 10rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

.p {
    font-size: 1.125rem;
    margin-top: 1rem;
    max-width: 37.5rem;
    line-height: 1.5;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
header {
    position: relative;
    height: 100vh;
    background: url('./assets/foto\ capa\ site.jpg') no-repeat center center/cover;
}


  